body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slide-pane__overlay {
  z-index: 999;
}

.sticky-box {
  display: none;
}

.sticky .sticky-box {
  display: block;
}

.sweet-loading {
  /* height: 100vh; */
  height: 100vh;
  position: fixed !important;
}

.slide-pane {
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

.slide-pane_from_bottom {
  margin-top: 8vh;
}

.slide-pane__content {
  padding: 32px 20px !important;
}

.slide-pane__content {
  padding-bottom: 120px !important;
}

.chakra-select[aria-invalid="true"],
.chakra-input[aria-invalid="true"],
.chakra-input[data-invalid] {
  box-shadow: 0 0 0 1px red !important;
}




/* .wrapper {
  width: 150px;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.item {
  width: inherit;
  height: inherit;
  background: white;
  transform-origin: 50% 100%;
} */
